.anchorLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
  > * {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
@media (max-width: 720px) {
  .anchorLinks {
    flex-direction: column;
    a{
      justify-content: start;
    }
  }
}