.button {
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  transition: all 0.1s ease;

  &.variant-1 {
    background: linear-gradient(#000000, #000000) padding-box,
      linear-gradient(90deg, #664ab8, #1ec9e4, #664ab8) border-box;
  }
  &.variant-2 {
    background: linear-gradient(#000000, #000000) padding-box,
      linear-gradient(135deg, #34326f, #fba5e9) border-box;
  }
  &.variant-3 {
    background: linear-gradient(#000000, #000000) padding-box,
      linear-gradient(45deg, #b73151, #fadea9) border-box;
  }
  &.variant-4 {
    background: linear-gradient(#000000, #000000) padding-box,
      linear-gradient(345deg, #5f1799, #c33b6e) border-box;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }
}
